<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="main-content">
    {{>header}}
    <img class="oops" src="/img/404-error.png">
    <div class="credit"> 
      <p>Image by 
        <a href="https://pixabay.com/users/cripi-1028451/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3060993">Christelle Olivier</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3060993">Pixabay</a>
        </p>
      </div>
    <p><strong>{{errMsge}}</strong> </p>
    </div>
    {{>footer}}
  </body>
</html>