<!DOCTYPE html>
<html>

<head>
  <title>Help</title>
    <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="main-content">
    {{>header}}
  <p> {{helpMsge}}</p>
  <img class="screenshot" src="/img/help_weather_app.png">
  </div>
  
  {{>footer}}
</body>
</html>